body{
    background-color:burlywood ;

}
#abc{
    display: block;
    border: 10px solid black;
    height: 500px;
    width: 400px;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-top: 100px;
    background-color: aqua;
    border-radius: 10px;
}
h1{
    padding-left: 150px;
    text-decoration: underline;
}
h2{
    padding-left: 200px;
}
.inp{
    padding-left: 100px;
    font-size: large;
}
.signin{
    padding-left: 100px;
}
button{
    margin-top: 50px;
    border-radius: 5px;
    font-size: 20px;
}
h3{
    font-size: 30px;
}
#login {
    background-color: green;
    text-decoration: none;
}
#sign{
    background-color: green;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
input{
    height: 20px;
}
/*
.lo{
    align-items: center;
    text-align: center;
}
.signin{
    align-items: center;
    text-align: center;
}
    */
